<a href="https://colab.research.google.com/github/marcilion/Portif-lio/blob/main/aula_python_semana_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Listas**

In [ ]:
lista = [1,2,310,45,10,5]
primeiro_valor = lista[0]
print(primeiro_valor)

lista[-1] = [1,23] #alterando o valor da ultima posição da lista
ultimo_valor = lista[-1]
print(ultimo_valor)

1
[1, 23]

In [ ]:
frase = "bem vindo ao curso de python"
print(frase[0:-3]) #bem vindo ao curso de pyt
print(frase[0:9]) #bem vindo
print(frase[4:9]) #vindo

bem vindo ao curso de pyt
bem vindo
vindo

Tuplas

In [ ]:
tupla = (1,True, "teste", 10.5, [1,23], (1,23), {"teste":"teste"})
#tupla[0] = "1" não é possível alterar um valor da tupla
print(tupla[0])
print(tupla.index("teste"))
print(type(tupla))

1
2
<class 'tuple'>

**Objetos**

In [ ]:
meu_objeto = {
    "chave1": "valor1",
    'chave2': 5,
    'chave3': [1,2,3],
    'chave4': (1,2,3),
    'chave5': {
        "sub_objeto": 'valor_subobjeto'
    },
    'chave6': True,
    'chave7': True,
    'chave8': 5.5
}
#print(meu_objeto)
# if 'chave1' in meu_objeto:
#   print("A chave1 existe no objeto com valor:" + meu_objeto['chave1'])

if 'chave7' in meu_objeto:
  del meu_objeto['chave7']
# print(meu_objeto)

# print(meu_objeto.get("chave7", "valor padrão"))

chaves = meu_objeto.keys()
valores = meu_objeto.values()
# print(chaves)
# print(valores)

# for chave in chaves:
#   print(type(meu_objeto[chave]))

for valor in valores:
  print(type(valor))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>
<class 'float'>

**Conjuntos ou Sets**

In [ ]:
conjunto_a = {1,2,3,4}
conjunto_b = {3,4,5,6}

print(conjunto_a)
print(type(conjunto_a))

print("união", conjunto_a.union(conjunto_b))
print("interseção", conjunto_a.intersection(conjunto_b))
print("diferença entre A e B",conjunto_a.difference(conjunto_b))
print("diferença entre B e A",conjunto_b.difference(conjunto_a))
print("diferença simétrica entre A e B",conjunto_a.symmetric_difference(conjunto_b))

lista_c = [1,2]
conjunto_c = set(lista_c)
print("conjunto C está contido no conjunto A:", conjunto_c.issubset(conjunto_a))
print("conjunto C está contido no conjunto B:", conjunto_c.issubset(conjunto_b))

{1, 2, 3, 4}
<class 'set'>
união {1, 2, 3, 4, 5, 6}
interseção {3, 4}
diferença entre A e B {1, 2}
diferença entre B e A {5, 6}
diferença simétrica entre A e B {1, 2, 5, 6}
{1, 2}
conjunto C está contido no conjunto A: True
conjunto C está contido no conjunto B: False

**Strings (concatenção e multiplacação)**

In [ ]:
str_1 = "Olá"
str_2 = "mundo"

lista = ["Olá", "mundo"]
print(" ".join(lista))

# string_completa = str_1 + " " + str_2
string_completa = f"{str_1} {str_2}!!"

print(string_completa)

palavra = "apartamento"
mascara = "_ " * len(palavra)
print(mascara)

print([1,2] * 2)
print((1,2) * 2)
print("a" * 2)

print(palavra[len(palavra) // 2:])

Olá mundo!!
_ _ _ _ _ _ _ _ _ _ _
[1, 2, 1, 2]
(1, 2, 1, 2)
aa
amento

Função / Metodo

In [ ]:
def multiplicar(numero1, numero2):
  resultado = numero1 * numero2
  return resultado

try:
  numero = int(input("Digite um número para gerar uma tabuada: "))
  for i in range(1,11):
    resultado = multiplicar(numero, i)
    print(f"{numero} x {i} = {resultado}")
except:
  print("Algo deu errado")

Digite um número para gerar uma tabuada: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
import datetime

# print(datetime.datetime.today().strftime('%d-%m-%y, %H:%M'))
data_hora_atual = datetime.datetime.today().strftime('%d-%m-%y, %H:%M')
def mostrar_mensagem_boas_vindas(data_atual):
  print(f"Seja bem-vindo, hoje é {data_atual}")

mostrar_mensagem_boas_vindas(data_hora_atual)

Seja bem-vindo, hoje é 20-06-23, 00:41

In [ ]:
numero = 13.744
print("Número: %s " % numero)
print("Número inteiro: %d" % numero)
print("Número com sinal inteiro: %+d" % numero)
print("Número com sinal float: %+f" % numero)

print("controlando a {1} com {2}{0}{0}".format("!", "ordem", "format"))
print("controlando a {c} com {b}{a}{a}".format(a="!", c="ordem", b="format"))

Número: 13.744
Número inteiro: 13
Número com sinal inteiro: +13
Número com sinal float: +13.744000
controlando a ordem com format!!
controlando a ordem com format!!

In [ ]:
from datetime import datetime, timezone, timedelta

diferenca = timedelta(hours=-3)
print(diferenca)
fuso_horario = timezone(diferenca)
print(fuso_horario)

print(datetime.now().astimezone(fuso_horario).strftime('%d/%m/%y, %H:%M:%S'))

-1 day, 21:00:00
UTC-03:00
21/06/23, 19:35:18

In [ ]:
from datetime import datetime
from pytz import timezone, all_timezones

meses_em_portugues = {
    "January": "Janeiro",
    "February": "Fevereiro",
    "June": "Junho",
    "July": "Julho"
}
fuso_horario = timezone('America/Sao_Paulo')
data_atual = datetime.now().astimezone(fuso_horario).strftime('%B %F, %H:%M:%S')

data_vetor = data_atual.split(" ")
data_vetor[0] = "July"
mes = data_vetor[0]

if mes in meses_em_portugues:
  data_vetor[0] = meses_em_portugues[mes]

print(" ".join(data_vetor))

# print(len(all_timezones))
# for t in all_timezones:
#   print(t)

Julho 2023-06-21, 19:56:43

In [ ]:
def minha_funcao(a, b="default b", c="default c"):
  print(f"{a} {b} {c}")

minha_funcao(c="c", a="a", b="b")
minha_funcao(c="c", a="a")
minha_funcao(a="a")

a b c
a default b c
a default b default c

Classes

In [ ]:
class Pessoa:
  def __init__(self, nome, idade, cpf):
    self.nome = nome
    self.idade = idade
    self.cpf = cpf
  def apresentar(self):
    print(f"Olá meu nome é {self.nome} e tenho {self.idade} anos")


pessoas = [
    Pessoa("Ariel", 27, cpf="123"),
    Pessoa("Pedro", 37, cpf="231"),
    Pessoa("Fulano", 17, cpf="159")
]

for pessoa in pessoas:
  pessoa.apresentar()

Herança

In [ ]:
class ClasseBase:
  def __init__(self, nome):
    self.atributo = 0

  def metodo(self):
    print("metodo da classe base")

class ClasseDerivada(ClasseBase):
  def __init__(self):
    super().__init__("meu nome")
    self.atributo = 1

minha_classe_base = ClasseBase("")
minha_classe_derivada = ClasseDerivada()

minha_classe_base.metodo()
minha_classe_derivada.metodo()

metodo da classe base
Metodo da classe derivada

Polimorfismo

In [ ]:
class ClasseBase:
  def __init__(self, nome):
    self.atributo = 0

  def metodo(self):
    print("metodo da classe base")

class ClasseDerivada(ClasseBase):
  def __init__(self):
    super().__init__("meu nome")
    self.atributo = 1

  def metodo(self):
    print("Metodo da classe derivada")

minha_classe_base = ClasseBase("")
minha_classe_derivada = ClasseDerivada()

minha_classe_base.metodo()
minha_classe_derivada.metodo()

Método estático

In [ ]:
class MinhaClasse:
  @staticmethod
  def metodo():
    pass

# classe = MinhaClasse()
MinhaClasse.metodo()

In [ ]:
class Animal:
  def __init__(self, nome):
    self.nome = nome
    self.tipo = "Generico"

  def comer(self):
    print(f"O animal {self.nome} esta comendo")

  def falar(self):
    print("bla bla")

  def __str__(self):
    return f"Nome {self.nome} do tipo {self.tipo}"

  def __eq__(self, other) -> bool:
    return self.nome == other.nome


class Cachorro(Animal):
  def __init__(self, nome):
    super().__init__(nome)
    self.tipo = "Cachorro"

  def falar(self):
    print("au au")

class Gato(Animal):
  def __init__(self, nome):
    super().__init__(nome)
    self.tipo = "gato"

  def falar(self):
    print("miau")

cachorro1 = Cachorro("Totó")
gato1 = Gato("Bichano")
gato2 = Gato("Fulano")

cachorro1.falar()
gato1.falar()

print(str(cachorro1))
print(gato1 == gato2)

au au
miau
Nome Totó do tipo Cachorro
False
Nome Bichano do tipo gato

Compreensão de listas / List comprehension

In [ ]:
numeros = [5,10,2,3]

numeros_potencia = [num**2 for num in numeros]
numeros_pares = [num for num in numeros if num % 2 == 0]
numeros_pares_e_divisivel_por_5 = [num for num in numeros if num % 2 == 0 and num % 5 == 0]
teste = ['teste' for num in numeros]
print(teste)

['teste', 'teste', 'teste', 'teste']

In [ ]:
print("primeira linha\nsegunda linha\n")

primeira linha
segunda linha