<a href="https://colab.research.google.com/github/marcilion/Portif-lio/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
nome = "joão"
idade = 30
tem_cnh = True
tem_carro = False
tupla = (7,8,9)
lista = [7,8,9]
pessoa = {
    'nome': "João",
    "idade": 50,
    "peso": 60.5,
    "tem_cnh": True
}

a,b,c = 7,8,"9"

numero_convertido = int("10")
decimal_convertido = float("10")
texto_convertido = str(10)
tupla_convetida = tuple([1,2.3,5])
lista_convertida = list("python")

print(type(lista_convertida))

<class 'list'>

Strings

In [2]:
frase = "Bem vindo a aula de java"
print(frase.find("python"))

if frase.find("python") > -2 :
  print("Você está no curso de Python")
else:
  print("Você não está no curso de Python")
  print("print dentro do else")
print("print fora do else")

-1
Você está no curso de Python
print fora do else

In [4]:
frase = "bem vindo a aula de java"

if frase.find("java") > -2 :
  frase = frase.replace('java', 'python')
print(frase.index("vindo"))

#lista_frase = frase.split(" ")
#print(lista_frase)

4

Operadores aritiméticos

In [5]:
numero1 = 20
numero2 = 10

resultado_soma = numero1 + numero2
resultado_subtracao = numero1 - numero2
resultado_multiplacao = numero1 * numero2
resultado_divisao = 20/ 6

resultado_divisao_inteiro = 20 // 6
resultao_divisao_resto = 20% 6
resultado_potencia = 4 ** 2

print(resultado_potencia)

16

Operadores de atribuição com operação aritimética

In [6]:
resultado = 1

resultado += 10
#resultado = resultado + 10
print(resultado)

resultado -= 10
#resultado = resultado - 10
print(resultado)

resultado *= 10
#resultado = resultado * 10
print(resultado)

resultado /= 10
#resultado = resultado / 10
print(resultado)

resultado //= 10
#resultado = resultado // 10
print(resultado)

resultado **= 10
#resultado = resultado ** 10
print(resultado)

resultado %= 10
#resultado = resultado ** 10
print(resultado)

11
1
10
1.0
0.0
0.0
0.0

In [8]:
meu_numero = 18

if meu_numero % 2 == 0:
  print("Seu número é par")
else:
  print("Seu número é impar")

Seu número é par

Operadores de comparação

In [11]:
num1 = 1
print(num1 > 2)
print(num1 == 2)
print(num1 < 2)
print(num1 != 2)
print(num1 >= 2)
print(num1 <= 2)

False
False
True
True
False
True

Operadores lógicos

In [12]:
# && = and
# || = or
# ! = not

num1 = 10
print(num1 > 2 and num1 < 10 )
print(num1 > 2 or num1 < 10 )
print(not(num1 > 2 and num1 < 10))

False
True
True

In [13]:
idade = 15
esta_preso = False

if esta_preso == True:
  print("Você não pode votar")
else:
  if idade >= 18 and idade < 65:
    print("Você é obrigado a votar")
  elif idade >= 16 and idade <= 18 or idade >= 65:
    print("O voto é facultativo")
  else:
    print("você não pode votar")

você não pode votar

Operadores de associação

In [14]:
# in / not in
frase = "bem vindo a aula de java"
numeros = [10, 20, 30, 40]

#print("p" in frase)
#print(50 in numeros)
if "python" not in frase:
  print("não existe python na frase")

não existe python na frase

Estrutura de repetição

In [15]:
#print(range(5))
lista_numeros = [20,15,30,5,9]
frase = "bem vindo a aula de java"

#for numero in lista_numeros:
#  print(numero)

#for letra in frase:
#  print(letra)

#range(start, stop, step)
#for i in range(50):
#  print(i)

contador = 0
while contador < 5:
  print(contador)
  contador += 1

0
1
2
3
4

Controle de fluxo

In [16]:
controlador = True
if controlador:
  #caso o controlador for true, vai executar esse bloco de código
  print()
else:
  #caso o controlador for false, vai executar esse bloco de código
  print()

# comando = "Goodbye, World!"
# match comando:
#   case 'Hello, World!':
#     print("Hello to you too!")
#   case 'Goodbye, World!':
#     print("See you later")
#   case other:
#     print("comando não encontrado")

numero1 = 5
numero2 = 10

comando = input("Digite uma operação matemática: ")
match comando:
  case 'somar':
    print(numero1 + numero2)
  case 'subtrair':
    print(numero1 - numero2)
  case 'multiplicar':
    print(numero1 * numero2)
  case 'dividir':
    print(numero1 / numero2)
  case other:
    print("comando inválido")

Digite uma operação matemática: asdas comando inválido
comando inválido

Funções de Listas

In [17]:
frutas = ["melancia", "maçã", "abacate", "pêra"]
#inserir valor na lista
frutas.append("uva")
frutas.insert(0, "pesego")

#remover valor da lista
valor_removido = frutas.pop(2)
if "pêra" in frutas:
  frutas.remove("pêra")

#ordenar lista
frutas.sort()
#print(frutas)

numeros = [5,6,1,2,3,4]
print("lista não ordenada ", numeros)
numeros.sort()
print("lista ordenada ", numeros)
numeros.reverse()
print("lista invertida ", numeros)

lista não ordenada  [5, 6, 1, 2, 3, 4]
lista ordenada  [1, 2, 3, 4, 5, 6]
lista invertida  [6, 5, 4, 3, 2, 1]

In [18]:
frase = "bem vindo a aula de python"
frase_lista = frase.split()

frase_lista.reverse()
frase_revertida = " ".join(frase_lista)

print(frase_revertida)

python de aula a vindo bem

In [19]:
from random import randint

alunos = ["carlos", "joão", "pedro", "marcelo"]

ganhador = randint(0, len(alunos) - 1)

print(alunos[ganhador])

joão